<!DOCTYPE html>
<html>
	<head>
    	<title>NewsReader</title>
	    <!-- <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong> -->
	  	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	  	<link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">

	  	<link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
	  	<link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
	  	<link href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}" rel="stylesheet">
	</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/grouped-categories.js')}}"></script>


<body>
    <div id = "wrapper">
      <!-- Navigation -->
    	<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0" role="navigation">
    		<a class="pull-right" style="height:28px"><img src="{{ url_for('static', filename='img/nr_logo.jpg') }}" alt=""></a>
        	<div class="navbar-header">
				<a class="navbar-brand" href="/">NewsReader</a>
        	</div>
        	<div class="navbar-default sidebar" role="navigation">
          		<ul id="side-menu" class="nav">
          			<li>
						<a href="/"><i class="fa  fa-refresh"></i>  Refresh the page</a>
            		</li>
					<li>
						<a href="#"  id="jsonExample"><i class="fa fa-bar-chart-o"></i> Json Example</a>
            		</li>
            		<li>
						<a href="#" id="nafExample"><i class="fa fa-bar-chart-o"></i> Naf Example</a>
            		</li>
            		<li>
						<a href="#"  id="jsonStructureExample"><i class="fa fa-bar-chart-o"></i> Json Structure Example</a>
            		</li>
            		<li>
						<a href="#"  id="nafStructureExample"><i class="fa fa-bar-chart-o"></i> NAF Structure Example</a>
            		</li>

            	</ul>
            </div>
      	</nav>

    	<div id="page-wrapper">
			<div class="container-fluid">
				<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                        	Visualize StoryLines
                        	<small>Demo</small>
                        	<h3>The user can upload either multiple NAF files or a timeline Json file.</h3>
                        </h1> 
                      	<div class ="row">
                        	<div class="col-lg-4">
								<div class="panel panel-default">
									<div class="panel-heading"> Upload Naf Files</div>
									<div class="panel-body">
										<p>Please browse a NAF file with the "Add NAF file" button and then click the Upload Botton</p>
										<form style="margin: 0px;" id="form-upload" enctype="multipart/form-data">
                        					<span class="btn btn-success fileinput-button">
												<i class="icon-plus icon-white"></i>
												<span>Add NAF file..</span>
												<input id="fileupload" type="file" name="files[]" multiple="">   
											</span>
											<span class="files"></span>
											<a class="btn btn-primary pull-right thread-reply"><i class="icon-share-alt icon-white"></i>Upload</a>
										</form>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="panel panel-default">
									<div class="panel-heading">Upload Json File</div>
									<div class="panel-body">
										<p>Please browse a Json file with the "Browse Json file" button and then click the Upload Botton</p>
										<form style="margin: 0px;" id="json-upload" enctype="multipart/form-data">
                        					<span class="btn btn-success fileinput-button">
												<i class="icon-plus icon-white"></i>
												<span>Browse Json File...</span>
												<input id="fileupload" type="file" name="file[]" multiple="">   
											</span>
											<span class="file"></span>
											<a class="btn btn-primary pull-right thread-reply"><i class="icon-share-alt icon-white"></i>Upload</a>
										</form>
									</div>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="panel panel-default">
									<div class="panel-heading">Number of Events</div>
									<div class="panel-body">
										<div class="flot-chart-content" id="numEvents"></div>
									</div>
								</div>
							</div>


						</div>

						<div class="row">
							<div class="alert alert-warning" id="warningMessage" style="display:none;">
    							<button type="button" class="close">×</button>
    							Busy...
							</div>
						</div>	
					</div>
				</div>

				<div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Charts</h2>
                        <p class="lead">The following graphs represent the relation between the Events, the Labels and the Actors over the time.</p>
                    </div>
                </div>
                <!-- /.row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-green">
							<div class="panel-heading">
							 	<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i>Related Labels - Time</h3>
                               	<select class = "fa form-control input-sm" id="first-choice">
  									<option>Please choose an Actor</option>
								</select>
							</div>
							<div class="panel-body" style="min-height: 600px;overflow-y: scroll;">
                                <div class="flot-chart">
                                    <div class="flot-chart-content" id="container_2"></div>
                               </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="myModal" class="modal fade">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 id="myModalHeader" class="modal-title"></h4>
      				</div>
      				<div id="myModalBody" class="modal-body"></div>

      				<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           			</div>
    			</div><!-- /.modal-content -->
  			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
    </div>
</body>
</html>
