<div class="content-grid mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="logo-vu"></div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="logo-nwr"></div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="logo-nlesc"></div>
  </div>
</div>

<div class="content-grid mdl-grid utilities-bar">
  <div class="mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
    <query-selector-directive></query-selector-directive>
  </div>

  <full-text-crossfilter-search-directive
      chart-header="Search for keywords"
      ndx-service-name="software"
      json-fields="actors, mentions.perspective.source, mentions.snippet, prefLabel, labels"
      class="mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
  </full-text-crossfilter-search-directive>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <breadcrumbs-directive></breadcrumbs-directive>
  </div>
</div>



<!-- <file-loading-directive></file-loading-directive> -->

<div class="content-grid mdl-grid">
	<div class="mdl-cell mdl-cell--4-col nav-tab" ng-class="{ active: isSet(1) }">
		<a id="storylines-button" href class="btn btn:hover" ng-click="setTab(1)"> View Storylines </a>
	</div>
	<div class="mdl-cell mdl-cell--4-col nav-tab" ng-class="{ active: isSet(2) }">
		<a id="relations-button" href class="btn btn:hover" ng-click="setTab(2)"> View Relations </a>
	</div>
	<div class="mdl-cell mdl-cell--4-col nav-tab" ng-class="{ active: isSet(3) }">
		<a id="perspectives-button" href class="btn btn:hover" ng-click="setTab(3)"> View Perspectives </a>
	</div>
  <div ng-show="isSet(1)">
    <view-storylines-directive
      class="mdl-cell mdl-cell--12-col">
    </view-storylines-directive>
  </div>
  <div ng-show="isSet(2)">
    <view-relations-directive
      class="mdl-cell mdl-cell--12-col">
    </view-relations-directive>
  </div>
  <div ng-show="isSet(3)">
    <view-perspectives-directive
      class="mdl-cell mdl-cell--12-col">
    </view-perspectives-directive>
  </div>
</div>
