<div>
  <div class="alert alert-danger" id="errorMessage" ng-show="dcjscontroller.errorMessage">
    Error:
    {{dcjscontroller.errorMessage}}
  </div>
  <form class="form-vertical" role="form">
    <div class="form-group">
      <label for="query">Event</label>
      <textarea class="form-control" id="query" ng-model="dcjscontroller.queryEvent" rows="1"></textarea>
    </div>
    <div class="form-group">
      <label for="dataset">Dataset</label>
      <div id="dataset">
        <div class="radio-inline" ng-repeat="ds in dcjscontroller.datasets">
          <label class="radio-inline">
            <input name="dataset" ng-checked="{{ds==dcjscontroller.dataset}}" ng-click="dcjscontroller.dataset=ds" type="radio">{{ds}}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="dcjscontroller.doQuery()" type="submit">Submit query</button>
    </div>
  </form>
</div>

<div id="yearly-bubble-chart" class="dcjsContainer">
  {{dcjscontroller.queryResult}}
</div>
