<div class="form-group clickable">
    <div class="input-group">
        <input type="search" class="form-control" placeholder="Search location..." ng-model="fc.query" ng-keypress="fc.onQueryKeyPress($event)">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="fc.clear()" ng-show="fc.query" title="Clear"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <button class="btn btn-default" type="button" ng-click="fc.search()" ng-disabled="!fc.query" title="Search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
    </div>
</div>
