<div class="content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col myChart">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"><div id="rowchart_allActors"></div></div>
        <div class="mdl-cell mdl-cell--10-col"><div id="subwayChart"></div></div>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col myChart">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"><div id="rowchart_groups"></div></div>
        <div class="mdl-cell mdl-cell--10-col"><div id="laneChart"></div></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col"><div id="timeline"></div></div>
      </div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col myChart">
      <table id="data-table" class="table table-hover dc-data-table dc-chart"></table>
      <div id="paging">
        Showing <span id="begin"></span>-<span id="end"></span> of <span id="size"></span>.
        <input id="last" type="Button" value="Last" ng-click="punchcardcontroller.tableLast()" />
        <input id="next" type="button" value="Next" ng-click="punchcardcontroller.tableNext()"/>
      </div>
    </div>
  </div>
</div>
