<div class="row">
  <div class="col-md-12">
    <h1>SPARQL Queries</h1>

    <div class="alert alert-danger" id="errorMessage" ng-show="sparqlcontroller.errorMessage">
      Error:
      {{sparqlcontroller.errorMessage}}
    </div>

    <form class="form-vertical" role="form">
      <div class="form-group">
        <label for="query">Query</label>
        <textarea class="form-control" id="query" ng-model="sparqlcontroller.query" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="dataset">Data set</label>
        <div id="dataset">
          <div class="radio-inline" ng-repeat="ds in sparqlcontroller.datasets">
            <label class="radio-inline">
              <input name="dataset" ng-checked="{{ds==sparqlcontroller.dataset}}" ng-click="sparqlcontroller.dataset=ds" type="radio">{{ds}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="sparqlcontroller.doQuery()" type="submit">Submit query</button>
      </div>
    </form>

    <div id="resultText" ng-show="sparqlcontroller.jsonData!={}">
      <h2>Query results</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th ng-repeat="h in sparqlcontroller.jsonData.head.vars">{{h}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="b in sparqlcontroller.jsonData.results.bindings">
            <td ng-repeat="h in sparqlcontroller.jsonData.head.vars">
              <span ng-bind-html="b[h] | formatSparqlBinding"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
