<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>SPARQL Queries</h1>

      <div class="alert alert-danger" id="errorMessage" ng-show="sparqlcontroller.errorMessage">
        Error:
        {{sparqlcontroller.errorMessage}}
      </div>

      <form class="form-vertical" role="form">
        <div class="form-group">
          <label for="query">Query</label>
          <textarea class="form-control" id="query" rows="5" ng-model="sparqlcontroller.query"></textarea>
        </div>
        <div class="form-group">
          <label for="dataset">Data set</label>
          <div id="dataset">
            <div ng-repeat="ds in sparqlcontroller.datasets" class="radio-inline">
              <label class="radio-inline">
                <input type="radio" name="dataset" ng-checked="{{ds==sparqlcontroller.dataset}}" ng-click="sparqlcontroller.dataset=ds">{{ds}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" ng-click="sparqlcontroller.doQuery()">Submit query</button>
        </div>
      </form>

    </div>
  </div>
</div>
